<%-include("header")-%>
    <h1 style="text-align:center ;">About</h1>
    <p style="text-align:center ;">
        This is a special To-Do List created by our organisation to serve you with best of the services.
        Enjoy!
    </p>
<%-include("footer")-%>